* {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
}
.calculator {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-top: 10%;

	background-color: #3aa6b9;
	border-radius: 15px;

	width: 500px;
	height: 630px;
	padding: 20px;
}
.display {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: end;
	padding: 10px;
	height: 130px;

	background-color: #ffd0d0;

	border: 5px #f9f9e0 solid;
	border-radius: 15px;

	width: 450px;

	font-size: 60px;
}
.buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	flex-wrap: wrap;
	gap: 12px;
}

.buttons button {
	width: 100px;
	height: 80px;
	font-size: 30px;
	font-weight: bolder;
	background-color: #10ffcb;
	border-radius: 15px;
	border-color: #f9f9e0;
}

.number1 {
	color: rgba(0, 0, 0, 0.5);
	font-size: 35px;
	text-align: end;
}

.operator {
	flex: content;
	color: rgba(0, 0, 0, 0.5);
	font-size: 60px;
}

.display div {
	display: flex;
	flex-direction: column-reverse;
	gap: 5px;
}
